<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Frontend Mentor | Launch countdown timer</title>
  </head>
  <body>
    <main>
      <div class="container">
        <h1 class="title uppercase">We're launching soon</h1>
        <div class="grid">
          <div class="square">
            <div class="square-darker"></div>
            <div class="decorator decorator-left"></div>
            <span class="days">00</span>
            <div class="decorator decorator-right"></div>
          </div>
          <div class="square">
            <div class="square-darker"></div>
            <div class="decorator decorator-left"></div>
            <span class="hours">00</span>
            <div class="decorator decorator-right"></div>
          </div>
          <div class="square">
            <div class="square-darker"></div>
            <div class="decorator decorator-left"></div>
            <span class="minutes">00</span>
            <div class="decorator decorator-right"></div>
          </div>
          <div class="square">
            <div class="square-darker"></div>
            <div class="decorator decorator-left"></div>
            <span class="seconds">00</span>
            <div class="decorator decorator-right"></div>
          </div>
          <p class="text uppercase">Days</p>
          <p class="text uppercase">Hours</p>
          <p class="text uppercase">Minutes</p>
          <p class="text uppercase">Seconds</p>
        </div>
        <div class="social"></div>
      </div>
    </main>
  </body>
</html>
