@use "../abstract" as *;

body {
  background: url("../assets/bg-stars.svg"), url("../assets/pattern-hills.svg"),
    linear-gradient($color-blue-800, $color-gradient);
  background-repeat: no-repeat, no-repeat;
  background-size: auto, contain, 100%, 100vh;
  background-position: top, bottom;
}

h1 {
  color: $color-white;
}

p {
  color: $color-white;
}
