$color-primary: hsl(237, 18%, 59%);
$color-accent: hsl(345, 95%, 68%);

$color-white: hsl(0, 0%, 100%);
$color-gradient: hsl(268, 22%, 14%);
$color-blue-700: hsl(236, 21%, 26%);
$color-blue-800: hsl(235, 16%, 14%);
$color-blue-850: hsl(234, 17%, 12%);
